.header {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 10px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-right: 40px;
}

.background {
  background-color: #d4d7da;
  color: white;
}

.title,
.actions {
  display: flex;
  align-items: center;
}

.buttons{
  display: inline-block;
  margin-left: 20px;}

.container{
  text-align: center;
  padding-top: 15px !important;
}

.warning{
  display: inline-block;
  background-image: url('../../../images/warning.png');
  background-size: contain;  
  height: 100px;
  width: 100px;
  margin-top: 25px;
}

.title{
  margin-left: 20px;
}
.button{
  margin-left: auto;}
