/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Arial", sans-serif;
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  text-align: center;
}

/* Estilos para las filas impares */
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Estilos para el botón */
.btn {
  padding: 8px 16px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
}

/* Estilos para el botón al pasar el ratón por encima */
.btn-success:hover {
  background-color: #218838;
}

.code-viewer {
  max-height: 75vh;
  min-height: 50vh;
  overflow: auto;
  display: grid;
}
.copied-message {
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  position: fixed; /* Posición absoluta para que se coloque sobre el botón */
  top: 70px;
  right: 50px;
  animation: fadeOut 1.5s ease-in-out;
}
.success {
  background-color: #96dc98;
}
.failed {
  background-color: #fbb2b2;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
::ng-deep .p-dialog-header {
  padding: 16px 24px;
}

::ng-deep pre {
  margin: 0;
  padding: 1rem;
}
.copy-button {
  position: fixed; /* Posición absoluta para que se coloque sobre el botón */
  top: 70px;
  right: 50px;
}
